:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  width: 100vw;

  /* color-scheme: light dark; */
  color: #ffffff;
  background: linear-gradient(45deg, #dd91e5, #5f9bbe);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
